.home{
    // background: $background-body none repeat scroll 0 0
}
a:hover, a:focus, a:active{ text-decoration: none; outline: none; @include transition(all 500ms ease 0s); }
ul{ list-style: outside none none; padding: 0;margin: 0; }
input, select, textarea { outline: none; }
img { max-width: 100%; }
h1, h2, h3, h4, h5, h6 {
    color: unset; display: unset; font-family: unset; font-size: unset; font-weight: unset; margin: 0; padding: 0;
}
.page-info h1, .page-info h2, .page-info h3, .page-info h4, .page-info h5, .page-info h6 {
    color: inherit; display: inherit; font-family: inherit; font-weight: 500; margin-bottom: 10px;
}
.page-info h4, .page-info h5, .page-info h6 { margin-top: 10px; }
.page-info h1, .page-info h2, .page-info h3 { margin-top: 20px; }
.page-info h6 { font-size: 12px; }
.page-info h5 { font-size: 14px; }
.page-info h4 { font-size: 18px; }
.page-info h3 { font-size: 24px; }
.page-info h2 { font-size: 30px; }
.page-info h1 { font-size: 36px; }
.page-info iframe { max-width: 100%; }
.page-info ul {
    padding-left: 40px; margin-bottom: 10px; margin-top: 0; list-style: inherit;
}
#back-to-top {
    background: $xanhdam;
    bottom: 0;
    cursor: pointer;
    display: none;
    padding: 9px 15px;
    position: fixed;
    left: 15px;
    z-index: 99;
    .fa {
        color: #ffffff;
    }
}

@font-face{
  font-family: 'micra';
  src:url('../fonts/UTM-Micra.ttf');
}
@font-face{
  font-family: 'seguisb';
  src:url('../fonts/seguisb.ttf');
}

.banner img { width: 100%; }

.main-title {
    border-bottom: 2px solid $xanhdam;
    display: inline-block;
    margin-top: 30px;
    width: 100%;

    a {
	    background: $xanhdam none repeat scroll 0 0;
	    color: #fff;
	    display: inline-block;
	    padding: 5px 15px;
	    position: relative;
	    text-transform: uppercase;

	    &::after {
		    border-left: 31px solid $xanhdam;
		    border-top: 31px solid transparent;
		    content: "";
		    left: 100%;
		    position: absolute;
		    top: 0;
		}
    }
}

.title {

    a {
        color: #000000;
        display: block;
        font-size: 12px;
        font-weight: bold;
        margin-top: 10px;
        text-transform: uppercase;
    }
}

.desc {
    font-size: 12px;
    text-align: justify;
    min-height: 70px;
}

.vongtron {
    background: $xanhdam none repeat scroll 0 0;
    @include border-radius(50%);
    display: inline-block;
    padding: 10px;
    position: relative;

    img {
        @include border-radius(50%);
        height: 95px;
    }

    &::after {
        border: 2px solid #ffffff;
        content: "";
        height: calc(100% - 8px);
        left: 50%;
        position: absolute;
        top: 50%;
        width: calc(100% - 8px);
        z-index: 94;
        @include border-radius(50%);
        @include transform(translate(-50%, -50%));
    }
}

.btn-more-detail {
    color: $xanhdam !important;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 22px !important;
    position: relative;
    &:after {
        position: absolute;
        content: ">>";
        top: 5px;
        right: 0;
    }
}


/* @extend background-cover; */
background-cover {
    @include background-size( cover );
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
    max-width: 100%;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
    max-width: 100%;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
    max-width: 100%;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

