.map {

    .map-content {
        border: 10px solid #ffffff;
        margin-top: 30px;
        @include box-shadow(0 0 5px 0 #ccc);
        @include border-radius(13px);
    }
}


.partner {

    .main-title {
        text-align: center;

        a::before {
            border-right: 30px solid $xanhdam;
            border-top: 30px solid transparent;
            content: "";
            position: absolute;
            right: 100%;
            top: 0;
        }
    }

    .partner-content {

        .item {
            float: left;
            line-height: 100px;
            margin: 30px 0;
            text-align: center;
            width: 14.28%;

            figure {
                a {
                    img {
                        @extend background-cover;
                    }
                }
            }
        }
    }
}


footer {

    .footer-top {
        background: #253226 none repeat scroll 0 0;
        color: #ffffff;
        padding: 30px 0;

        a {
            color: #ffffff;
        }

        .widget-title {
            display: block;
            font-size: 16px;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

        .info-footer-content {

            span {
                display: block;
                padding-left: 25px;
                position: relative;

                .fa {
                    left: 0;
                    position: absolute;
                    text-align: center;
                    top: 4px;
                    width: 15px;
                }
            }
        }

        ul {
            li {
                label {
                    font-weight: normal;
                    margin-bottom: 0;
                    margin-right: 4px;
                }
            }
        }
    }

    .footer-bottom {
        background: #1c261d none repeat scroll 0 0;
        color: #ffffff;
        padding: 5px;
        text-align: center;
    }
}


