.header {
    .header-top {
        display: -webkit-flex;
        padding: 5px 0;

        .logo {
            float: left;
            text-align: center;
            width: 94px;
        }

        .content-header {
            display: inline-block;
            margin-top: 10px;
            text-align: center;
            width: calc(100% - 94px);

            .content-header-top {
                line-height: 1.2;

                span {
                    color: $xanhnhat;
                    display: block;
                    font-size: 20px;
                    text-transform: uppercase;
                }

                .text-large {
                    color: $xanhdam;
                    font-family: micra;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
            }

            .content-header-bottom {
                margin-top: 10px;
                text-align: right;

                a {
                    color: #000000;
                    margin-left: 10px;

                    .fa {
                        margin-right: 4px;
                    }

                    .fa-phone {
                        border: 1px solid red;
                        color: red;
                        line-height: 16px;
                        text-align: center;
                        width: 18px;
                        @include border-radius(50%);
                    }

                    .fa-envelope-o {
                        color: #2497f3;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .header-bottom {

        .menu {
            background: $xanhdam none repeat scroll 0 0;
            position: relative;

            .main-menu {

                > ul {
                    display: -webkit-flex;
                    @include justify-content( space-between );

                    > li {
                        float: left;
                        text-align: center;
                        white-space: nowrap;
                        width: 100%;

                        .sub-menu {
                            background: #02923d none repeat scroll 0 0;
                            left: 0;
                            position: absolute;
                            width: 100%;
                            z-index: 2222;
                            min-height: 200px;
                            visibility: hidden;

                            .sub-menu {
                                left: 100%;
                                top: 0;
                            }

                            li {
                                .sub-menu {
                                    background: #00a651 none repeat scroll 0 0;
                                    left: 100%;
                                    top: 0;
                                    width: 525%;
                                    left: 17%;
                                    width: 83%;

                                    li {
                                        float: left;
                                        width: 33.33%;
                                        overflow: hidden;
                                        white-space: normal;

                                        &:nth-child(3n+1) {
                                            clear: left;
                                        }
                                        &:hover {
                                            background: #02923d none repeat scroll 0 0;
                                        }
                                    }
                                }
                            }
                        }
                        > .sub-menu > li {
                            // position: relative;
                            text-align: left;
                            width: 17%;

                            // > a {
                            //     display: inline-block;
                            // }
                        }
                    }
                }

                ul {

                    li {

                        &:hover {
                            background: $xanhnhat none repeat scroll 0 0;

                            > .sub-menu {
                                visibility: visible;
                                @include animation(0.3s ease 0s normal none 1 running fadeInUp);
                            }

                            > a::after {
                                max-width: 100%;
                            }
                        }

                        a {
                            color: #ffffff;
                            display: block;
                            padding: 16px 10px;
                            position: relative;
                            text-transform: uppercase;
                            font-size: 14px;

                            &::after {
                                background: #ffffff none repeat scroll 0 0;
                                bottom: 0;
                                content: "";
                                height: 2px;
                                left: 0;
                                max-width: 0;
                                position: absolute;
                                width: 100%;
                                @include transition(max-width 0.5s ease 0s);
                            }
                        }
                    }
                    ul li a {
                        padding: 10px 8px;
                    }

                    .current-menu-item > a {
                        background: #00a651 none repeat scroll 0 0;
                        position: relative;

                        &::before {
                            background: #ffffff none repeat scroll 0 0;
                            bottom: 0;
                            content: "";
                            height: 2px;
                            left: 0;
                            position: absolute;
                            width: 100%;
                            z-index: 999999;
                        }
                    }
                }
            }
        }

        .search-box {
            display: none;

            form {
                display: inline-block;
                float: right;
                margin: 10px 0;
                position: relative;
                z-index: 999;

                input {
                    border: medium none;
                    color: #555555;
                    padding: 5px 50px 5px 10px;
                    @include border-radius(3px);
                }

                button {
                    background: rgba(0, 0, 0, 0) url("../images/icon-search.png") no-repeat scroll center center;
                    border: medium none;
                    height: 100%;
                    padding: 0 15px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }
}


