.service {

    .service-content {

        .item {
            float: left;
            margin-top: 15px;
            padding: 0 10px;
            text-align: center;
            width: 12.5%;

            figure {

                a {
                    // width: 100px;

                    img {
                        height: 70px;
                        margin: auto;
                        width: 70px;
                        @extend background-cover;
                    }
                }
            }

            &:hover figure {
                @include filter(brightness(0.8));
            }

            &:hover .title a {
                color: $xanhdam;
            }
        }
    }
}



.contact-online {

    .online-content {
        background: #ecf0f1 none repeat scroll 0 0;
        display: inline-block;
        padding: 10px;
        width: 100%;

        figure {
            border: 6px solid $xanhdam;
            // float: left;
            // max-width: 194px;
            // position: relative;
            // width: 30%;
            @include border-radius(5px);
            margin-bottom: 10px;

            &:after {
                // background: transparent url("../images/icon-support-online.png") no-repeat scroll center center;
                // content: "";
                // height: 65px;
                // position: absolute;
                // right: -95px;
                // top: 50%;
                // width: 65px;
                // @include transform(translateY(-50%));
            }
        }

        .info {
            // float: right;
            // padding-left: 100px;
            // width: 70%;

            span {
                color: $xanhdam;
                display: block;
                font-size: 22px;
                font-weight: bold;

                a {
                    color: #ff0000;
                }
            }
        }
    }
}


.team-doctor {

    .doctor-content {

        .doctor-content-item {
            background: rgba(0, 0, 0, 0) url("../images/bg-bacsi.png") repeat-x scroll top center;
            display: block;
            margin: 30px 0;
            padding: 9px;
            text-align: center;
            width: 100%;
            @include box-shadow(0 0 12px 5px #cccccc);
            @include border-radius(15px);

            &:hover {
                @include box-shadow(0 0 0 1px #cccccc);
            }

            &:hover .info .title a {
                color: #000000;
            }

            .info {

                .title {

                    span {
                        display: block;
                    }

                    a {
                        color: $xanhdam;
                    }
                }
            }

            figure a {

                img {
                    padding: 5px;
                    width: inherit;
                    @extend background-cover;
                }
            }
        }
    }
}
.home .team-doctor .doctor-content .doctor-content-item .info .title a {
    min-height: 35px;
    overflow: hidden;
}
.home-main .team-doctor .doctor-content .doctor-content-item .info .desc {
    min-height: 70px;
}
.home .news .news-content .item:nth-child(2n) {
    clear: left;
}
.home .news .news-content .item:nth-child(2n+1) {
    clear: none;
}


.news {

    .news-content{

        .item {
            margin-top: 30px;

            &:hover figure img {
                @include transform(scale(1.2, 1.2));
            }

            &:hover figure {
                border: 4px solid $xanhdam;
            }

            &:nth-child(2n+1) {
                clear: left;
            }

            figure {
                // background: #02923d none repeat scroll 0 0;
                border: 4px solid #cccccc;
                float: left;
                margin-right: 10px;
                max-width: 160px;
                text-align: center;
                overflow: hidden;
                width: 100%;
                @include border-radius(5px);

                a {
                    line-height: 80px;
                }

                img {
                    @include border-radius(4px);
                    @include transition(all 1s ease 0s);
                    @extend background-cover;
                }
            }

            .info {

                .title a {
                    color: $xanhdam;
                    height: 35px;
                    margin: 0;
                    overflow: hidden;
                }

                .btn-more {
                    color: $xanhdam;
                    float: right;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }

        .first {

            &:hover figure img {
                transform: none;
            }

            figure {
                border: 4px solid $xanhdam;
                margin-bottom: 50px;
                max-width: 360px;
                position: relative;
                overflow: inherit;
                @include border-radius(10px);

                &::after {
                    background: rgba(0, 0, 0, 0) url("../images/icon-chanban.png") no-repeat scroll center center;
                    content: "";
                    height: 50px;
                    left: 50%;
                    position: absolute;
                    top: 99%;
                    width: 100%;
                    @include transform(translateX(-50%));
                }
            }

            .info {

                .title a {
                    font-size: 20px;
                    height: 60px;
                    overflow: hidden;
                }

                .desc {
                    font-size: 16px;
                }

                .btn-more {
                    background: $xanhdam none repeat scroll 0 0;
                    color: #fff;
                    font-size: 14px;
                    margin-top: 10px;
                    padding: 10px 20px;
                    @include border-radius(20px);
                }
            }
        }
    }
}


