
.sidebar {

    .main-title {
        text-align: right;

        a {
            padding: 7px 15px;

            &::after {
                left: auto;
                right: 100%;
                @include transform(rotate(270deg));
            }
        }
    }
}


.menu-menu-huong-dan-sidebar-container, .menu-menu-hoi-dap-sidebar-container, .time-work-content, .menu-menu-gioi-thieu-sidebar-container {
    width: 100%;
    display: inline-block;
}


.menu-menu-huong-dan-sidebar-container ul li a {
    background: #ecf0f1 none repeat scroll 0 0;
    border: 2px solid $xanhdam;
    color: $xanhdam;
    display: block;
    font-weight: bold;
    margin-top: 5px;
    padding: 5px 15px 5px 50px;
    text-transform: uppercase;
    @include border-radius(5px);
}



.menu-menu-hoi-dap-sidebar-container ul li a {
    background: #00a651 none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    margin-top: 5px;
    padding: 5px 15px;
    @include border-radius(5px);
}



.time-work-content {
    border: 1px solid #e5e5e5;
    line-height: 2;
    padding: 20px;

    span {
        color: #02923d;
        display: block;
        font-weight: bold;
    }

    .text {
        color: #000000;
        display: inline-block;
    }
}



.menu-menu-gioi-thieu-sidebar-container {

    li {
        position: relative;
    }

    a {
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        padding: 5px 15px;
    }

    > ul > li {
        background: $xanhdam none repeat scroll 0 0 !important; //#6feb99
        margin-top: 5px;
        position: relative;
        width: calc(100% - 15px);

        .sub-menu {
            background: #ffffff none repeat scroll 0 0;
            display: none;

            li a {
                color: #000000;
                padding-left: 40px;
                display: block;
                background: transparent url("../images/icon-right-sidebar.png") no-repeat scroll 20px 10px;
            }
        }

        &::after {
            border-bottom: 15px solid transparent;
            border-left: 15px solid $xanhdam;
            border-top: 15px solid transparent;
            content: "";
            height: 30px;
            left: 100%;
            position: absolute;
            top: 0;
            width: 30px;
        }

        > a {
            margin-right: 30px;
        }
    }

    .tamgiac::before {
        background: transparent url("../images/icon-plush.png") no-repeat scroll center center;
        content: "";
        position: absolute;
        right: 5px;
        top: 5px;
        width: 20px;
        height: 20px;
    }
}


.sidebar {

    .contact-form {
        text-align: center;

        .contact-title {
            @include border-radius(15px 15px 0 0);
            margin-top: 30px;
        }

        .contact-content {
            background: $xanhdam none repeat scroll 0 0;
            border: medium none;
            padding: 0 20px;
            @include border-radius(0 0 15px 15px);

            p:nth-child(2) {
                padding-left: 30px;
                margin-top: 0;
            }

            .submit {
                background: #f7941d none repeat scroll 0 0;
                color: #ffffff;
                float: none;
                font-weight: bold;
                margin: auto;
                text-transform: none;
                width: 50%;
                @include border-radius(10px);
            }

            textarea {
                height: 60px;
            }
        }
    }
}
.sidebar .contact-form .contact-content input, .sidebar .contact-form .contact-content textarea {
    border: medium none;
    color: #555555;
    font-style: unset;
    font-weight: normal;
    padding: 8px 10px;
}


.wp-video {
    margin-top: 5px;
}


// .widget_wpstatistics_widget, .widget_test_wpstatistics_widget {

//     ul {
//         padding: 20px;
//         font-weight: bold;
//         border: 1px solid #e5e5e5;

//         label {
//             color: #02923d;
//         }
//     }
// }
