.page-template-contact .single-title {
    text-transform: uppercase;
    font-family: seguisb;
    padding-left: 30px;
    background: rgba(0, 0, 0, 0) url("../images/icon-title-contact.png") no-repeat scroll left 5px;
}

.single-title {
    color: $xanhdam;
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;

    .fa {
	    margin-right: 5px;
	}
}

.news-detail-info img {
    max-width: 100%;
}

.related-post .news-content .item figure {
    float: none;
    margin: 0 0 10px;
    max-width: inherit;
    background: #02923d none repeat scroll 0 0;
}

.related-chuyen-khoa .doctor-content-item .info .title {
    min-height: 40px;
}


