
.p-list .team-doctor .doctor-content .item .doctor-content-item {
    display: inline-block;
    padding: 0 15px 15px;
    text-align: left;

    figure {
        float: left;
        margin-top: 15px;
        margin-right: 15px;
        text-align: center;
        width: 25%;
    }

    .info .title {
        min-height: 50px;

        a {
            color: #ffffff;
        }
    }
}


.download-content {
    margin-top: 30px;
}
.download-detail .single-title {
    margin-top: 30px;
}
.panel-footer {
    display: none;
}