/*RESPONSIVE*/
@media screen and (max-width:1199px) {
	.container {
		width: 100%;
	}
	.header .header-bottom .menu .main-menu ul li a {
	    font-size: 12px;
	    // padding: 17px 8px;
	}
	.header .header-bottom .menu .main-menu ul ul li a {
	    padding: 10px 8px;
	}

	// .contact-online .online-content figure::after {
	// 	display: none;
	// }

	.partner .partner-content .item {
	    margin: 10px 0;
	    width: 25%;
	}

	//menu-menu-gioi-thieu-sidebar
	.menu-menu-gioi-thieu-sidebar-container > ul > li {
	    width: 100%;
	}
	.menu-menu-gioi-thieu-sidebar-container > ul > li::after {
	    display: none;
	}

	//service
	.service .service-content .item {
	    width: 16.6%;
	}
}

@media screen and (min-width:992px) {
	.news-detail .news .news-content .item:nth-child(2n+1) {
		clear: none;
	}
}

@media screen and (max-width:992px) {
	.header .header-bottom .menu {
	    height: 52px;
	}
	//service
	.service .service-content .item {
	    width: 25%;
	}

	footer {
		margin-bottom: 38px;
	}

	.news {

		.news-content {

			.item {
				margin-top: 30px;

				figure {
				    float: none;
				    margin-right: 0;
				    margin-bottom: 10px;
				    max-width: 100%;

				    img {
					    // width: 100%;
					}
				}
			}

			.first {

				figure {
				    max-width: none;
				    display: inline-block;

				    &::after {
						display: none;
					}
				}

				.info .title a {
				    height: auto;
				}
			}
		}
	}
	.category-6 .news .news-content .item figure img {
		width: auto;
	}


	.contact-online {

		.online-content {

			// figure {
			//     width: auto;
			//     max-width: 150px;
			// }

			.info {
			    // padding-left: 0;
			    // width: auto;

			    span {
				    font-size: 16px;
				}
			}
		}
	}


	.p-list .team-doctor .doctor-content .item .doctor-content-item figure {
	    width: auto;
	}

	//sidebar
	.contact-form .contact-content > p:nth-child(2) {
	    display: block;
	}
	.contact-form .contact-content .contact-hotline {
	    width: auto;
	}
	.sidebar .contact-form .contact-content p:nth-child(2) {
	    padding-left: 0;
	}
	.sidebar .contact-form .contact-content .submit {
	    width: auto;
	}
	.sidebar .main-title a::after {
	    display: none;
	}
}


@media screen and (max-width:767px) {
	.header .header-top .logo {
	    width: 100%;
	}
	.header .header-top .content-header {
	    margin-top: 0;
	    width: 100%;
	}

	footer .footer-top .widget-title {
	    margin-bottom: 5px;
	    margin-top: 15px;
	}


	.partner .partner-content .item {
	    width: 33.3%;
	}

	//sidebar
	.sidebar .main-title {
	    text-align: left;
	}
	.sidebar .main-title a::after {
	    left: 100%;
	    right: auto;
	    transform: none;
	}
	.sidebar .main-title a::after {
	    display: block;
	}


	//service
	.service .service-content .item {
	    width: 33.3%;
	}
}

@media screen and (max-width:480px) {
	.header .header-top .content-header .content-header-top span {
	    font-size: 14px;
	}
	.menu .mean-container .mean-bar {
	    max-width: 100%;
	}
	.header .header-top .content-header .content-header-bottom a {
	    display: block;
	}


	// .contact-online .online-content figure {
	//     display: none;
	// }
	// .contact-online .online-content .info {
	//     float: none;
	// }

	.partner .partner-content .item {
	    width: 50%;
	}


	//service
	.service .service-content .item {
	    width: 50%;
	}

	//news-home
	.news .news-content .first .info .title a {
	    font-size: 16px;
	}
	.news .news-content .first .info .desc {
	    font-size: 14px;
	}
}

@media screen and (max-width:399px) {
	.doctor-content .item {
	    width: 100%;
	}
	.home .team-doctor .doctor-content .doctor-content-item .info .title a {
	    min-height: auto;
	    overflow: inherit;
	}

	.news .news-content .item {
	    width: 100%;

	    figure {
		    max-width: 100%;
		}

		.info .title a {
			height: auto;
		}
	}

	//footer
	footer .footer-top .widget-title {
	    margin-top: 20px;
	    font-size: 14px;
	}

	.p-list .team-doctor .doctor-content .item .doctor-content-item figure {
	    margin-bottom: 15px;
	    margin-right: 0;
	    width: 100%;
	}
	.p-list .team-doctor .doctor-content .item .doctor-content-item .info .title a {
	    color: $xanhdam;
	    text-align: center;
	}
}


