

.contact-form {

    .contact-title {
        background: $xanhdam none repeat scroll 0 0;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;
        text-transform: uppercase;
    }

    .contact-content {
        border: 2px solid #cccccc;
        border-top: none;
        background: #e5e5e5 none repeat scroll 0 0;
        display: inline-block;
        padding: 20px;
        width: 100%;

        span {
            display: block;
            margin-bottom: 10px;

            input, textarea {
                border: 2px solid #cccccc;
                color: #000000;
                font-style: italic;
                padding: 10px 50px;
                width: 100%;
                @include border-radius(5px);
            }
        }

        br {
            display: none;
        }

        > p:nth-child(2) {
            display: -webkit-flex;
            margin-top: 35px;
            width: 100%;
        }

        .contact-hotline {
            color: $xanhdam;
            float: left;
            font-family: seguisb;
            font-size: 30px;
            text-align: center;
            text-transform: uppercase;
            width: 100%;

            a {
                color: $xanhdam;
            }
        }

        .submit {
            background: $xanhdam none repeat scroll 0 0;
            border: medium none;
            color: #ffffff;
            float: right;
            font-weight: bold;
            height: 35px;
            margin-top: 8px;
            padding: 8px 30px;
            text-transform: uppercase;
            @include border-radius(10px);
        }
    }
}


.wpcf7-validation-errors, .wpcf7-mail-sent-ng, .wpcf7-mail-sent-ok {
    border: medium none !important;
    color: red;
    font-weight: bold;
    margin: 15px 0 0 !important;
    padding: 0 !important;
    text-transform: uppercase;
}
.wpcf7-mail-sent-ok {
    color: $xanhdam ;
}

.page-contact-info .contact-form .contact-content span {
    .your-name {
        background: #ffffff url("../images/icon-name-contact.png") no-repeat scroll 22px 7px;
    }

    .your-email {
        background: #ffffff url("../images/icon-email-contact.png") no-repeat scroll 22px 12px;
    }

    .your-phone {
        background: #ffffff url("../images/icon-phone-contact.png") no-repeat scroll 26px 8px;
    }

    .your-address {
        background: #ffffff url("../images/icon-address-contact.png") no-repeat scroll 24px 9px;
    }

    textarea {
        background: #ffffff url("../images/icon-message-contact.png") no-repeat scroll 24px 8px;
    }
}
