
.menu .mean-container .mean-bar {
    background: none;
    left: 0;
    position: absolute;
    top: 3px;
    z-index: 99;
    max-width: 480px;
}
.menu .mean-container .mean-bar .meanmenu-reveal {
    left: 0 !important;
    top: 0;
}
.menu .mean-container .mean-bar .mean-nav {
    background: $xanhdam none repeat scroll 0 0 !important;
    margin-top: 45px;
}
.menu .mean-container .mean-nav ul li .mean-expand {
    height: 14px;
    line-height: 14px;
    width: 20px;
}
.menu .mean-container .mean-nav ul li .mean-expand:hover {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
}
.menu .mean-container .mean-nav ul li a {
    padding: 10px 5%;
    font-size: 13px;
}
.menu .mean-container .mean-nav ul li li a {
    padding: 10px 10%;
}
.menu .mean-container .mean-nav ul li li li a {
    width: 80%;
}