
//navigation
.navigation {
  clear: both;
  display: block;
  float: left;
  margin-top: 30px;
  text-align: right;
  width: 100%;
}
.navigation .pages, .navigation .last{
    display: none;
}
.navigation span, .navigation a {
    background-color: #ffffff;
    border: 1px solid $xanhdam;
    color: $xanhdam;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 0 0 10px;
    min-width: 36px;
    text-align: center;
    @include border-radius(2px);
}
.navigation a:hover, .navigation .current {
    background: $xanhdam none repeat scroll 0 0 !important;
    border: 1px solid $xanhdam !important;
    color: #fff;
    font-weight: bold;
}


//arrow
.doctor-content, .service-content {
    position: relative;
    padding-bottom: 20px;

    .slick-arrow {
        background: $xanhdam none repeat scroll 0 0;
        bottom: -5px;
        position: absolute;
        top: auto;
        transform: none;
        z-index: 12;
        @include border-radius( 50% );
    }

    .slick-prev {
        left: 50%;
        @include transform( translateX(-130%) );

        &::before {
            opacity: 1 !important;
        }
    }

    .slick-next {
        left: 50%;
        opacity: 0.75;
        @include transform( translateX(30%) );

        &::before {
            opacity: 1 !important;
        }
    }

    .slick-prev.slick-disabled::before, .slick-next.slick-disabled::before {
        opacity: 1 !important;
    }
}
